
<body>
    <div class="main-grid">

        <div id="heros">
            <div class="sub-grid">
                <img src="../../assets/images/super-1.png" alt="super-1">
                <h4>Spiderman</h4>
                <div id="score">12</div>
            </div>
            <div class="sub-grid">
                <img src="../../assets/images/super-3.png" alt="super-3">
                <h4>Wonder Women</h4>
                <div id="score">30</div>
            </div>
        </div>

        <div id="scores">
            5 - 0
        </div>

        <div id="villans">
            <div class="sub-grid">
                <img src="../../assets/images/super-2.png" alt="super-2">
                <h4>Capten America</h4>
                <div id="score">50</div>
            </div>
            <div class="sub-grid">
                <img src="../../assets/images/super-4.png" alt="super-4">
                <h4>Gem Women</h4>
                <div id="score">12</div>
            </div>

        </div>
    </div>
</body>